@use "styles/colors" as colors;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-family: JBMono, monospace;
}

.horizontal-divider {
	width: 100%;
	height: 1px;
	padding: 1rem;

	border: none;
	background-color: colors.$text;
}
