@use "styles/colors" as colors;

:root {
	--bg: colors.$bg;
	--text: colors.$text;
}

body {
	margin: 0;
	padding: 1rem;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	background-color: colors.$bg;
	color: colors.$text;

	justify-content: center;
	align-items: center;
}

.text-container {
	max-height: 100%;

	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.25rem;

	.heading {
		font-size: 3rem;
		font-weight: 800;
	}
}

.socials {
	padding: 1rem;

	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;

	a {
		display: block;
		width: 32px;
		aspect-ratio: 1;
		overflow: hidden;

		transition: opacity 200ms ease-in-out;
		color: white;
		opacity: 0.25;

		&:hover {
			opacity: 1;
		}
	}
}
